{% extends 'base.html' %}
{% block content %}
      <!-- Stat Boxes -->
      <div class="row">
        <div class="col l3 s6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>3</h3>
              <p>Total Rounds</p>
            </div>
            <div class="icon">
              <i class="ion ion-checkmark"></i>
            </div>
          </div>
          </div><!-- ./col -->
          <div class="col l3 s6">
            <!-- small box -->
            <div class="small-box bg-purple">
              <div class="inner">
                <h3>69</h3>
                <p>Total Points</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
            </div><!-- ./col -->
            <div class="col l3 s6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>13</h3>
                  <p>Total Passes</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
              </div>
              </div><!-- ./col -->
              <div class="col l3 s6">
                <!-- small box -->
                <div class="small-box bg-red">
                  <div class="inner">
                    <h3>37</h3>
                    <p>Total Fails</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-medkit"></i>
                  </div>
                </div>
              </div>

              <div class="container">
                <h3 class="center-align">Scores vs Time</h3>
                <div class="custom-responsive">
                  <p>this will eventually have the line graph of every team's total score vs time</p>
                </div>
              </div>
{% endblock %}