{% extends 'base.html' %}
{% block content %}
      <!-- Stat Boxes -->
      <div class="row">
        <div class="col l3 s6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>420</h3>
              <p>Accounts</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer" class="animsition-link">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
          </div><!-- ./col -->
          <div class="col l3 s6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>69</h3>
                <p>New Toons</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer" class="animsition-link">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div><!-- ./col -->
            <div class="col l3 s6">
              <!-- small box -->
              <div class="small-box bg-purple">
                <div class="inner">
                  <h3>36</h3>
                  <p>Support Emails</p>
                </div>
                <div class="icon">
                  <i class="ion ion-email"></i>
                </div>
                <a href="#" class="small-box-footer" class="animsition-link">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
              </div><!-- ./col -->
              <div class="col l3 s6">
                <!-- small box -->
                <div class="small-box bg-red">
                  <div class="inner">
                    <h3>1337</h3>
                    <p>Unique Visitors</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="#" class="small-box-footer" class="animsition-link">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>

              <div class="container">
                <div class="quick-links center-align">
                  <h3>Quick Links</h3>
                  <div class="row">
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Mod Handbook"><a class="waves-effect waves-light btn-large" href="#">Mod Handbook</a></div>
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Staff Applications"><a class="waves-effect waves-light btn-large" href="#">Staff Applications</a></div>
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Name Guidelines"><a class="waves-effect waves-light btn-large" href="#">User Guidelines</a></div>
                    <div class="col l3 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="Issue Tracker"><a class="waves-effect waves-light btn-large" href="#">Issue Tracker</a></div>
                    <div class="col l4 offset-l4 s12 tooltipped" data-position="top" data-delay="50" data-tooltip="OTRS Support Site"><a class="waves-effect waves-light btn-large" href="#">Support Site</a></div>
                  </div>
                </div>

                <h3 class="center-align">Current Staff Members</h3>
                <div class="custom-responsive">
                  <table class="striped hover centered">
                    <thead><tr>
                      <th>Username</th>
                      <th>Access Level</th>
                      <th>Last Site Login</th>
                      <th>TFA Active?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>MichaelGScott</td>
                      <td>Administrator</td>
                      <td>2017-03-31</td>
                      <td><i class="text-green material-icons">check</i></td>
                    </tr>
                    <tr>
                      <td>JimHalpert</td>
                      <td>Sales</td>
                      <td>2017-03-31</td>
                      <td><i class="text-green material-icons">check</i></td>
                    </tr>
                    <tr>
                      <td>KevinMalone</td>
                      <td>Accounting</td>
                      <td>2017-03-31</td>
                      <td><i class="text-red material-icons">close</i></td>
                    </tr>
                    <tr>
                      <td>PamBeesly</td>
                      <td>Reception</td>
                      <td>2017-03-31</td>
                      <td><i class="text-green material-icons">check</i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
{% endblock %}