<html>
    <head>
        <title>SocketIO Test</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    </head>
    <body>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.send({data: 'client-connection'});

            socket.on('message', function(msg) {
                console.log('[SERVER] ' + msg);
            });
        });
    </script>
    </body>
</html>
